body {
  padding-top: 70px;
  text-align: center;
}


/* Header */
.title {
  font-size: 2em;
  padding-top: .15em;
}


/* Main Manu - navigation */
.menu-main .btn {
  padding-left: 2em;
  padding-right: 2em;
  font-size: 2em;
}
