body {
  padding-top: 70px;
  padding-bottom: 15px;
  text-align: center;
}


/* Header */
.title {
  font-size: 2em;
  padding-top: .15em;
}

.content {
  max-width: 600px; /* Limit with for big screens (desktop) */
  margin: 0 auto;
}



/* Main Manu - navigation */
.menu-main .btn {
  padding-left: 2em;
  padding-right: 2em;
  font-size: 2em;
}



/* Reserve */
.car-option {
  cursor: pointer;
  border: 2px solid transparent;
}

.car-option.selected {
  border-color: yellow;
}

.car-option.not-available {
  opacity: .4;
}



/* Loader Indicator */
#loader-indicator img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
}

#loader-indicator.fade.in {
  display: block !important;
}
