body {
  padding-top: 70px;
  text-align: center;
}

/* Avoid opening toolbar/address bar when clicking a button at the bottom of the page */
.footer-ios-hack {
  line-height: 15px;
  height: 15px;
}

/* Header */
.title {
  font-size: 2em;
  padding-top: .15em;
}

.content {
  max-width: 600px; /* Limit with for big screens (desktop) */
  margin: 0 auto;
}



/* Main Manu - navigation */
.menu-main .btn {
  padding-left: 2em;
  padding-right: 2em;
  font-size: 2em;
}



/* Reserve */
.car-option {
  border: 2px solid white;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #DDD;
}

.car-option:hover {
  border-color: #B2D7F8;
  background-color: #B2D7F8;
}

.car-option.selected {
  border-color: #428bca;
  background-color: #428bca;
  color: white;
}

.car-option.not-available {
  opacity: .4;
}

.car-option img {
  width: 100%;
}

.car-label {
  padding: 0 5px;
}

.btn-lg {
  padding-right: 30px;
  padding-left: 30px;
}



/* Loader Indicator */
#loader-indicator img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
}

#loader-indicator.fade.in {
  display: block !important;
}
