<form role="form" name="form" novalidate>
  <div class="form-group">
    <label for="car-model-select">Car</label>
    <select ng-model="selectedModel" ng-options="model.name for model in modelOptions"
            ng-change="filterCarsByModel(selectedModel)"
            class="form-control" id="car-model-select"></select>
  </div>
  <div class="form-group">
    <div ng-repeat="car in carOptions" ng-click="selectCar(car)"
         ng-class="{'selected': selectedCar === car, 'not-available': !car.available}" class="car-option">
         <img src="./car_600x300.png" alt="{{car.name}}">
         <strong>{{car.name}} ({{car.model_year}})</strong>, výbava: {{car.equipment}}, {{car.transmission}}
    </div>
  </div>
  <div class="form-group">
    <label for="start-input">Začátek výpůjčky - vyzvednutí vozu</label>
    <input ng-model="startDate" ng-change="startDateChanged()" disabled-dates="unavailableDates"
           type="text" id="start-input" class="form-control" min-date="{{TODAY}}" bs-datepicker>
  </div>
  <div class="form-group">
    <label for="end-input">Konec výpůjčky - vrácení vozu</label>
    <input ng-model="endDate" ng-change="endDateChanged()" disabled-dates="unavailableDates"
           type="text" id="end-input" class="form-control" min-date="{{startDate}}" bs-datepicker>
  </div>
  <div class="form-group">
    <label for="customer-input">Zákazník</label>
    <input ng-model="customer" required class="form-control" type="text" id="customer-input" placeholder="Jméno Příjmení">
  </div>
  <div class="form-group">
    <label for="reason-select">Účel výpůjčky</label>
    <select ng-model="selectedReason" ng-options="reason.title for reason in reasonOptions"
            class="form-control" id="reason-select"></select>
  </div>
  <div class="form-group">
    <label for="note-input">Poznámka (nepovinné)</label>
    <textarea ng-model="note" class="form-control" rows="3" id="note-input" placeholder="Poznámka k rezervaci..."></textarea>
  </div>
  <button ng-click="submitReservation()" ng-disabled="form.$invalid" type="submit" class="btn btn-primary btn-lg">Rezervovat</button>
</form>
