<form role="form">
  <div class="form-group">
    <label for="car-model-select">Car</label>
    <select ng-model="selectedModel" ng-options="model.name for model in modelOptions"
            ng-change="filterCarsByModel(selectedModel)"
            class="form-control" id="car-model-select"></select>
  </div>
  <div class="form-group">
    <div ng-repeat="car in carOptions" ng-click="selectCar(car)"
         ng-class="{'selected': selectedCar === car, 'not-available': !car.available}" class="car-option">
      <strong>{{car.model}}</strong>
      {{car.description}}
    </div>
  </div>
  <div class="form-group">
    <label for="start-input">Start of the Rental</label>
    <input ng-model="startDate" ng-change="startDateChanged()" id="start-input"
           type="text" class="form-control" min-date="{{TODAY}}" bs-datepicker>
  </div>
  <div class="form-group">
    <label for="end-input">Returning the car</label>
    <input ng-model="endDate" ng-change="endDateChanged()" id="end-input"
           type="text" class="form-control" min-date="{{startDate}}" bs-datepicker>
  </div>
  <div class="form-group">
    <label for="customer-input">Customer</label>
    <input ng-model="customer" class="form-control" type="text" id="customer-input" placeholder="Customer">
  </div>
  <div class="form-group">
    <label for="reason-input">Reason</label>
    <textarea ng-model="reason" class="form-control" rows="3" id="reason-input" placeholder="Reason"></textarea>
  </div>
  <div class="form-group">
    <label for="note-input">Note (optional)</label>
    <textarea ng-model="note" class="form-control" rows="3" id="note-input" placeholder="Note"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Reserve</button>
</form>
