<form name="form" novalidate>
  <div class="form-group">
    <select ng-model="selectedModel" ng-options="model.name for model in modelOptions"
            ng-change="filterCarsByModel(selectedModel)"
            class="form-control" id="car-model-select"></select>
  </div>
  <div class="form-group">
    <div ng-repeat="car in carOptions" ng-click="selectCar(car)"
         ng-class="{'selected': selectedCar === car, 'not-available': !car.available}" class="car-option">
      <img ng-src="./cars/{{pictureFor(car.model_name)}}" alt="{{car.name}}">
      <div class="car-label">
        <strong>{{car.name}} ({{car.model_year}})</strong>, {{car.equipment}}, {{car.transmission}}
      </div>
      <div class="overlay-selected">VYBRÁNO</div>
    </div>
  </div>
  <div class="form-group has-feedback" error-class-for="form.startDate">
    <label for="start-input">Začátek výpůjčky - vyzvednutí vozu</label>
    <input ng-model="startDate" ng-change="startDateChanged()" disabled-dates="unavailableDates"
           type="text" name="startDate" id="start-input" class="form-control" min-date="{{TODAY}}" bs-datepicker>
    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback" error-class-for="form.endDate">
    <label for="end-input">Konec výpůjčky - vrácení vozu</label>
    <input ng-model="endDate" ng-change="endDateChanged()" disabled-dates="unavailableDates"
           type="text" name="endDate" id="end-input" class="form-control" min-date="{{startDate}}" bs-datepicker>
    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback" error-class-for="form.customerName">
    <label for="customer-input">Zákazník</label>
    <input ng-model="customer.name" required class="form-control" type="text" name="customerName" id="customer-input" placeholder="Jméno Příjmení" mark-dirty-on-blur>
    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback no-label" error-class-for="form.customerPhone">
    <input ng-model="customer.phone" required class="form-control" type="tel" name="customerPhone" inputmode="tel" placeholder="Telefon" mark-dirty-on-blur>
    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback no-label" error-class-for="form.customerAddress">
    <input ng-model="customer.address" required class="form-control" type="text" name="customerAddress" placeholder="Adresa" mark-dirty-on-blur>
    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
  </div>
  <div class="form-group">
    <input ng-model="customer.company" class="form-control" type="text" placeholder="Firma">
  </div>

  <div class="form-group">
    <label for="reason-select">Účel výpůjčky</label>
    <select ng-model="selectedReason" ng-options="reason.title for reason in reasonOptions"
            class="form-control" id="reason-select"></select>
  </div>
  <div class="form-group">
    <label for="note-input">Poznámka (nepovinné)</label>
    <textarea ng-model="note" class="form-control" rows="3" id="note-input" placeholder="Poznámka k rezervaci..."></textarea>
  </div>
  <button ng-click="submitReservation()" ng-disabled="!isValid()" type="submit" class="btn btn-primary btn-lg">Rezervovat</button>
</form>
