<h4 class="list-group-item-heading">{{reservation.start | date}} - {{reservation.end | date}}, {{reservation.car.name}}</h4>
  <p class="list-group-item-text">{{reservation.customer.first_name}} {{reservation.customer.last_name}}
    <a ng-href="tel:{{reservation.customer.phone}}" ng-show="reservation.customer.phone">
      <span class="glyphicon glyphicon-earphone"></span>{{reservation.customer.phone | phoneNumber}}
    </a>

<form name="form" novalidate>
  <div class="form-group has-feedback" error-class-for="form.tachometerState">
    <label for="tachometer-input">Stav tachometru</label>
    <input ng-model="tachometerState" required class="form-control" min="0" type="number" name="tachometerState" id="tachometer-input" mark-dirty-on-blur>
    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
  </div>

  <div class="form-group">
    <label for="fuel-input">Stav palivoměru</label>
    <slider ng-model="fuelState" min="0" max="100" step="10">
  </div>

  <div class="form-group">
    <label for="identity-file">Doklad totožnosti</label>
    <span class="help-block">Zde prosím nahrajte naskenovaný doklad totožnosti řidiče, tj. řidičský nebo občanský průkaz.</span>

    <fancy-file-input url="identityDocumentUrl" data-id="identity-file"></fancy-file-input>
  </div>

  <div class="form-group">
    <label for="protocol-file">Vyplněný protokol</label>
    <span class="help-block">Zde prosím nahrajte vyplněný a podepsaný předávací protokol.<br>
    Předvyplněný protokol můžete stáhnout <a ng-href="/storage/reservations/{{reservation.id}}-protocol.pdf" download="protocol.pdf">zde</a>.</span>

    <fancy-file-input url="protocolDocumentUrl" data-id="protocol-file"></fancy-file-input>
  </div>

  <div class="form-group">
    <label for="survey-file">Vyplněný dotazník</label>
    <span class="help-block">Zde prosím nahrajte vyplněný dotazník spokojenosti.<br>
    Předvyplněný dotazník můžete stáhnout <a ng-href="/storage/reservations/{{reservation.id}}-survey.pdf" download="survey.pdf">zde</a>.</span>

    <fancy-file-input url="surveyDocumentUrl" data-id="survey-file"></fancy-file-input>
  </div>

  <button ng-click="finishReservation()" ng-disabled="!isValid()" type="submit" class="btn btn-primary btn-lg">Ukončit</button>
</form>
